extends nav

block title
	title Cy-BYRD-yne Games:

append styles
	link(rel='stylesheet' href='/resources/css/applet.css')

block content
	h1#header Vile The Game (applet version)!
	div Here shalt lieth the applet of power
	div This site will also eventually have downloads available for my game 
		| such as the game engine itself, and the resource packs and addons 
		| for my game that I have created to make a more emersize game experience. 

