extends nav

block title
	title Cy-BYRD-yne Games:

append styles
	link(rel='stylesheet' href='/resources/css/history.css')

block content
	h1#header.lists Version History

	ul.versionList

	script(src='/resources/js/loadHistory.js')