doctype
html
	head
		meta(charSet='UTF-8' name="viewport" content="width=device-width, initial-scale=1")
		link(rel='icon' href='./resources/images/icon.png')
		block title
			title Cy-Byrd-yne Games!

		block styles
			link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', rel='stylesheet')
			link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
			link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css")
	body#background
		block mainContent
		script(src='/resources/js/snowstorm.js')
		

	