extends nav

block title
	title Cy-BYRD-yne Games:

append styles
	link(rel='stylesheet' href='/resources/css/upcoming.css')

block content
	h1#header.lists Upcoming Features

	ul.versionList

	script(src='/resources/js/loadUpcoming.js')