#login {
    box-shadow: 0 0 30px #2200aa;
    text-align: center;
    text-shadow: 0 0 1px #777777;
    color: #ffffff;
    background-color: #220077;
    font-weight: 700;
    border: 1px solid #2200cc;
    padding: 30px;
}

div {
    margin: 0 auto;
    text-align: center;
    line-height: 1000%;
}

h1 {
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 30px #000000;
    text-shadow: 0 0 1px #333333;
    color: #ffffff;
    background-color: #777777;
    font-weight: 700;
    border: 1px solid #333333;
    padding: 30px;
}

#logo {
    display: block;
    margin: 20px auto;
    width: 20%;
    height: 20%;
    box-shadow: 0 0 30px #000000;
    border: 1px solid #333333;
}